<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修vue指令：v-model绑定表单控件；v-model与v-bind结合使用' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>vue指令：v-model绑定表单控件；v-model与v-bind结合使用</center></div><div class='banquan'>原文出处:本文由博客园博主anyxl提供。<br/>
原文连接:https://www.cnblogs.com/anyxl/p/10722166.html</div><br>
    <p class="yytitle">&nbsp;<strong>一、v-model绑定表单控件</strong></p>
<p><span style="font-size: 16px;">v-model 双向数据绑定；一般用于表单元素，会忽略表单元素的value、checked、selected的初始值，且将Vue实例的数据作为数据来源。</span></p>
<p class="secondTitle"><strong>1. 单行文本框 input[type="text"] 、多行文本框 textarea</strong></p>
<p><span style="font-size: 14px;">　 v-model值绑定到value属性；</span></p>
<div class="cnblogs_code">
<pre><code><span style="font-size: 15px; font-family: verdana, geneva;"><span style="color: #008080;"> 1</span><span style="font-size: 14px; font-family: verdana, geneva;"> &lt;body&gt;
<span style="color: #008080;"> 2</span>    &lt;div id="app"&gt;
<span style="color: #008080;"> 3</span>       &lt;input type="text" v-model="username" value="我是初始值，但是我被忽略了"&gt;&lt;br/&gt;
<span style="color: #008080;"> 4</span>       &lt;textarea v-model="schoolname" value="我是初始学校：北大青鸟"&gt;&lt;/textarea&gt;&lt;br/&gt;
<span style="color: #008080;"> 5</span>    &lt;/div&gt;
<span style="color: #008080;"> 6</span>    &lt;script src="./vue.js"&gt;&lt;/script&gt;
<span style="color: #008080;"> 7</span>    &lt;script&gt;
<span style="color: #008080;"> 8</span>       <span style="color: #0000ff;">var</span> vm = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
</span><span style="color: #008080;"> 9</span>          el:'#app'<span style="color: #000000;">,
</span><span style="color: #008080;">10</span> <span style="color: #000000;">         data:{
</span><span style="color: #008080;">11</span>             　　username:'小鸣'<span style="color: #000000;">,
</span><span style="color: #008080;">12</span>             　　schoolname:'XX科技大学'
<span style="color: #008080;">13</span> <span style="color: #000000;">         }
</span><span style="color: #008080;">14</span> <span style="color: #000000;">      })
</span><span style="color: #008080;">15</span>    &lt;/script&gt;
<span style="color: #008080;">16</span> &lt;/body&gt;</span></span></pre>
</div>
<p>运行图：<img class="middleimg" src="./images/vue指令：v-model绑定表单控件；v-model与v-bind结合使用0.png" alt="" /></p>
<p class="secondTitle"><strong><span>2. 单选框 input[type="radio"]</span></strong></p>
<p>&nbsp;　&nbsp;v-model 值绑定到 value属性；</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> &lt;body&gt;
<span style="color: #008080;"> 2</span>    &lt;div id="app" style="padding-left:10px;"&gt;
<span style="color: #008080;"> 3</span>       &lt;input type="radio" name="fruit" value="apple" v-model="radioValue"&gt;<span style="color: #000000;">apple
</span><span style="color: #008080;"> 4</span>       &lt;input type="radio" name="fruit" value="pear" v-model="radioValue"&gt;<span style="color: #000000;">pear
</span><span style="color: #008080;"> 5</span>       &lt;input type="radio" name="fruit" value="banana" v-model="radioValue"&gt;<span style="color: #000000;">banana
</span><span style="color: #008080;"> 6</span>       &lt;p&gt;radioValue: {{radioValue}}&lt;/p&gt;
<span style="color: #008080;"> 7</span>    &lt;/div&gt;
<span style="color: #008080;"> 8</span>    &lt;script src="./vue.js"&gt;&lt;/script&gt;
<span style="color: #008080;"> 9</span>    &lt;script&gt;
<span style="color: #008080;">10</span>       <span style="color: #0000ff;">var</span> vm = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
</span><span style="color: #008080;">11</span>          el:'#app'<span style="color: #000000;">,
</span><span style="color: #008080;">12</span> <span style="color: #000000;">         data:{
</span><span style="color: #008080;">13</span>             radioValue:'pear'<span style="color: #000000;">,
</span><span style="color: #008080;">14</span> <span style="color: #000000;">         }
</span><span style="color: #008080;">15</span> <span style="color: #000000;">      })
</span><span style="color: #008080;">16</span>    &lt;/script&gt;
<span style="color: #008080;">17</span> &lt;/body&gt;</pre>
</div>
<p>运行图：&nbsp;<img class="middleimg" src="./images/vue指令：v-model绑定表单控件；v-model与v-bind结合使用1.png" alt="" /></p>
<p class="secondTitle"><strong>3. 多选框 input[type="checkbox"]</strong></p>
<ul>
<li>&nbsp;　<span style="color: #ffffff; background-color: #008000;"> <strong>单个复选框</strong></span>：</li>
</ul>
<p>&nbsp;　　　　 v-model 值为布尔值（true、false），绑定到 checked属性；</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> &lt;body&gt;
<span style="color: #008080;"> 2</span>    &lt;div id="app" style="padding-left:10px;"&gt;
<span style="color: #008080;"> 3</span>       &lt;input type="checkbox" v-model="checkValue"&gt;&lt;br/&gt;
<span style="color: #008080;"> 4</span>       &lt;p&gt;checkValue: {{checkValue}}&lt;/p&gt;
<span style="color: #008080;"> 5</span>    &lt;/div&gt;
<span style="color: #008080;"> 6</span>    &lt;script src="./vue.js"&gt;&lt;/script&gt;
<span style="color: #008080;"> 7</span>    &lt;script&gt;
<span style="color: #008080;"> 8</span>       <span style="color: #0000ff;">var</span> vm = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
</span><span style="color: #008080;"> 9</span>          el:'#app'<span style="color: #000000;">,
</span><span style="color: #008080;">10</span> <span style="color: #000000;">         data:{
</span><span style="color: #008080;">11</span>             checkValue:<span style="color: #0000ff;">true</span>
<span style="color: #008080;">12</span> <span style="color: #000000;">         }
</span><span style="color: #008080;">13</span> <span style="color: #000000;">      })
</span><span style="color: #008080;">14</span>    &lt;/script&gt;
<span style="color: #008080;">15</span> &lt;/body&gt;</pre>
</div>
<p style="text-align: left;">运行图： &nbsp;<img class="middleimg" src="./images/vue指令：v-model绑定表单控件；v-model与v-bind结合使用2.png" alt="" /></p>
<ul>
<li style="text-align: left;">&nbsp; &nbsp; <span style="background-color: #008000; color: #ffffff;"><strong>&nbsp;多个复选框</strong></span></li>
</ul>
<p>　　　　 &nbsp;<strong>v-model 值为数组，绑定到 value属性（checkbox的vulue属性值必须要有）</strong>；</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> &lt;body&gt;
<span style="color: #008080;"> 2</span>    &lt;div id="app" style="padding-left:10px;"&gt;
<span style="color: #008080;"> 3</span>       &lt;input type="checkbox" v-model="moreCheck" value="box1"&gt;<span style="color: #000000;">box1
</span><span style="color: #008080;"> 4</span>       &lt;input type="checkbox" v-model="moreCheck" value="box2"&gt;<span style="color: #000000;">box2
</span><span style="color: #008080;"> 5</span>       &lt;input type="checkbox" v-model="moreCheck" value="box3"&gt;<span style="color: #000000;">box3
</span><span style="color: #008080;"> 6</span>       &lt;p&gt;moreCheck: {{moreCheck}}&lt;/p&gt;
<span style="color: #008080;"> 7</span>    &lt;/div&gt;
<span style="color: #008080;"> 8</span>    &lt;script src="./vue.js"&gt;&lt;/script&gt;
<span style="color: #008080;"> 9</span>    &lt;script&gt;
<span style="color: #008080;">10</span>       <span style="color: #0000ff;">var</span> vm = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
</span><span style="color: #008080;">11</span>          el:'#app'<span style="color: #000000;">,
</span><span style="color: #008080;">12</span> <span style="color: #000000;">         data:{
</span><span style="color: #008080;">13</span>             moreCheck:['box2','box3'<span style="color: #000000;">]
</span><span style="color: #008080;">14</span> <span style="color: #000000;">         }
</span><span style="color: #008080;">15</span> <span style="color: #000000;">      })
</span><span style="color: #008080;">16</span>    &lt;/script&gt;
<span style="color: #008080;">17</span> &lt;/body&gt;</pre>
</div>
<p>&nbsp;运行图：&nbsp;<img class="middleimg" src="./images/vue指令：v-model绑定表单控件；v-model与v-bind结合使用3.png" alt="" /></p>
<p>&nbsp;</p>
<p class="yytitle"><strong>二、v-model与v-bind结合使用</strong></p>
<p><strong>　　</strong>v-bind绑定属性，例如 v-bind:class="className"，缩写为 :class="className"；</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> <span style="color: #008000;">//</span><span style="color: #008000;">结合v-bind和v-model，实现效果：修改select选中值，从而给div绑定不同的类名，进而改变div的字体颜色；</span>
<span style="color: #008080;"> 2</span> &lt;style&gt;
<span style="color: #008080;"> 3</span> <span style="color: #000000;">  .blue{color:blue;}
</span><span style="color: #008080;"> 4</span> <span style="color: #000000;">  .red{color:red;}
</span><span style="color: #008080;"> 5</span> <span style="color: #000000;">  .green{color:green;}
</span><span style="color: #008080;"> 6</span> &lt;/style&gt;
<span style="color: #008080;"> 7</span> &lt;body&gt;
<span style="color: #008080;"> 8</span>    &lt;div id="app"&gt;
<span style="color: #008080;"> 9</span>       &lt;div :class="selectValue"&gt;这是一行会变色的字&lt;/div&gt;
<span style="color: #008080;">10</span>       &lt;select v-model="selectValue"&gt;
<span style="color: #008080;">11</span>          &lt;option value="blue"&gt;blue&lt;/option&gt;
<span style="color: #008080;">12</span>          &lt;option value="red"&gt;red&lt;/option&gt;
<span style="color: #008080;">13</span>          &lt;option value="green"&gt;green&lt;/option&gt;
<span style="color: #008080;">14</span>       &lt;/select&gt;
<span style="color: #008080;">15</span>    &lt;/div&gt;
<span style="color: #008080;">16</span>    &lt;script src="./vue.js"&gt;&lt;/script&gt;
<span style="color: #008080;">17</span>    &lt;script&gt;
<span style="color: #008080;">18</span>       <span style="color: #0000ff;">var</span> vm = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
</span><span style="color: #008080;">19</span>          el:'#app'<span style="color: #000000;">,
</span><span style="color: #008080;">20</span> <span style="color: #000000;">         data:{
</span><span style="color: #008080;">21</span>             selectValue:'red' 
<span style="color: #008080;">22</span> <span style="color: #000000;">         }
</span><span style="color: #008080;">23</span> <span style="color: #000000;">      })
</span><span style="color: #008080;">24</span>    &lt;/script&gt;
<span style="color: #008080;">25</span> &lt;/body&gt;</pre>
</div>
<p>&nbsp;</p>
<p class="middleimg">&nbsp;运行图：&nbsp;<img src="./images/vue指令：v-model绑定表单控件；v-model与v-bind结合使用4.png" alt="" /></p>
<p>&nbsp;</p>
</div>
</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>